.about-container{
    position: relative;
    background-image: url(../../../assets/images/landing-page/backimage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 320px;
}

.about-container h1{
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about-container h2{
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
}

.about-container p{
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: rgb(71, 169, 18);
    font-size: 22px;
}

.about-button{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
}

.border-container{
    border-radius: 5px; /* Separate the value and add a semicolon */
    border: 2px solid red; 
}